.newcollections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 1180px;
  margin: 0 auto 50px;
}
.newcollections h1 {
  color: #171717;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.08em;
}
.newcollections hr {
  display: none;
}
.collections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  gap: 22px;
  /* gap: 30px; */
}

@media (max-width: 1024px) {
  .collections {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }

  .newcollections h1 {
    font-size: 42px;
  }
}

@media (max-width: 768px) {
  .newcollections {
    margin-bottom: 60px;
  }

  .newcollections h1 {
    font-size: 32px;
    text-align: center;
  }

  .newcollections hr {
    width: 140px;
    height: 4px;
  }

  .collections {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-top: 30px;
    /* display: flex; */
    /* flex-direction: column; */
  }
}

@media (max-width: 480px) {
  .newcollections h1 {
    font-size: 26px;
  }

  .collections {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
